<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Local" value=".\localNuget\" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Local">
			<package pattern="Tika*" />
		</packageSource>
	</packageSourceMapping>
</configuration>