type file
authors Kevin Miller
id TikaOnDotnet
description
  Tika from Java ported to .Net via IKVM.
files
  ..\..\lib\TikaOnDotnet.dll ==> lib
dependencies
  IKVM 8.1.5717
projectUrl
  https://github.com/KevM/tikaondotnet
