type file
authors Kevin Miller
id TikaOnDotnet.TextExtractor
description
  Example of how to use **TikaOnDotNet** for text extraction from rich documents.
files
    bin\Release\TikaOnDotNet.* ==> lib
dependencies
    TikaOnDotnet
projectUrl
  https://github.com/KevM/tikaondotnet