type file
authors Kevin Miller
id TikaOnDotnet
description
  Bare-bones IKVM Java-to-.NET port of Apache Tika. You'll want to install TikaOnDotNet.TextExtractor.
files
  ..\..\lib\TikaOnDotnet.dll ==> lib
dependencies
  IKVM 8.1.5717
projectUrl
  https://github.com/KevM/tikaondotnet
