type file
authors Kevin Miller
id TikaOnDotnet.TextExtractor
description
  Classes for running Apache Tika through **TikaOnDotNet**. Just use TextExtractor.Extract() and you'll be on your way.
files
    bin\Release\TikaOnDotNet.* ==> lib
dependencies
    TikaOnDotnet ~> 1.12.2
projectUrl
  https://github.com/KevM/tikaondotnet
